body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.fib-8,
.fib-middle,
.fib-end,
.fib-3,
.fib-2,
.fib-1-1,
.fib-1-2 {
	float: left;
}

.fib-2:before,
.fib-2:after {
	content: " ";
	display: table;
}

.fib-2:after {
	clear: both;
}

.fib-start {
	margin-right: 2.631578947368%;
	width: 60.526315789474%;
}

.fib-middle {
	width: 36.842105263158%;
}

.fib-5 {
	margin-bottom: 7.142857142857%;
	width: 100%;
}

.fib-end {
	width: 35.714285714286%;
}

.fib-3 {
	margin-left: 7.142857142857%;
	width: 57.142857142857%;
}

.fib-2 {
	margin-top: 20%;
	width: 100%;
}

.fib-1-1,
.fib-1-2 {
	width: 40%;
}

.fib-1-1 {
	margin-right: 20%;
}

.box {
	background-color: #eee;
	background-color: rgba( 86, 61, 124, .15 );
	position: relative;
	/* width: 50%; */ /* desired width */
}

.box:before {
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1 */
}

.box .content {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.content.ab-light {
	color: #333;
}

.content.ab-dark {
	color: #e1e1e1;
}

.row {
	margin: 0;
}

.fib-8 .content {
	font-size: 3em;
}

.fib-5 .content {
	font-size: 2em;
}

.fib-3 .content {
	font-size: 1.5em;
}

.fib-2 .content {
	font-size: 1em;
}

.fib-1-1 .content {
	font-size: .6em;
}

.fib-1-2 .content {
	font-size: .6em;
}

.fib-8 .content,
.fib-5 .content,
.fib-3 .content,
.fib-2 .content,
.fib-1-1 .content,
.fib-1-2 .content {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.content h3 {
	font-size: 1.5em;
	margin: 0;
}