body {
	background: url("/img/wood.png") repeat 0 0;
	font-family: 'Tienne', 'Times New Roman', Times, serif;
	padding-top: 70px;
	padding-bottom: 30px;
}

.fib-8,
.fib-middle,
.fib-end,
.fib-3,
.fib-2,
.fib-1-1,
.fib-1-2 {
	float: left;
}

.fib-2:before,
.fib-2:after {
	content: " ";
	display: table;
}

.fib-2:after {
	clear: both;
}

.fib-start {
	margin-right: 2.631578947368%;
	width: 60.526315789474%;
}

.fib-middle {
	width: 36.842105263158%;
}

.fib-5 {
	margin-bottom: 7.142857142857%;
	width: 100%;
}

.fib-end {
	width: 35.714285714286%;
}

.fib-3 {
	margin-left: 7.142857142857%;
	width: 57.142857142857%;
}

.fib-2 {
	margin-top: 20%;
	width: 100%;
}

.fib-1-1,
.fib-1-2 {
	width: 40%;
}

.fib-1-1 {
	margin-right: 20%;
}

.box {
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 1 );
	position: relative;
}

.page-topic .fib-8 .content {
	background-color: rgba( 0, 0, 0, .4 );
}

.box:before {
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1 */
}

.content,
.quad-content {
	overflow: hidden;
}

.box .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.quadrant {
	background-color: #eee;
	background-color: rgba( 86, 61, 124, .15 );
	float: left;
	position: relative;
	width: 50%;
}

.quadrant:before {
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1 */
}

.quad-content {
	background-color: rgba( 0, 0, 0, .4 );
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: background-color 500ms ease-in-out;
	-moz-transition: background-color 500ms ease-in-out;
	-o-transition: background-color 500ms ease-in-out;
	transition: background-color 500ms ease-in-out;
}

.half {
	float: left;
	position: relative;
	width: 100%;
}

.half:before {
	content: "";
	display: block;
	padding-top: 50%; /* initial ratio of 1:1 */
}

.half-content {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.page-topic .fib-8 .content {
	padding: 1em;
}

.page-topic .fib-5 .content {
	overflow: scroll;
	padding: 1em;
}

.quad-content:hover {
	background-color: rgba( 0, 0, 0, .1 );
}

.content img {
	max-width: 100%;
}

.content.ab-light {
	color: #333;
}

.content.ab-dark {
	color: #e1e1e1;
}

.row {
	margin: 0;
}

.fib-8 .quad-content,
.page-topic .fib-8 .content {
	font-size: 2em;
}

.fib-5 .quad-content {
	font-size: 1.5em;
}

.fib-3 .quad-content {
	font-size: .9em;
}

.fib-2 .quad-content {
	font-size: .7em;
}

.fib-1-1 .content {
	font-size: .6em;
}

.fib-1-2 .content {
	font-size: .6em;
}

.fib-1-1,
.fib-1-2,
.content,
.quadrant,
.page-topic .fib-8 {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.content p {
	color: #fff;
}

.content h3 {
	color: #fff;
	font-family: 'Questrial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
	text-shadow: .05em .05em 0px rgba( 0, 0, 0, 0.5 );
}

.page-topic .fib-8 h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.half-content h3 {
	color: #444;
}

/***** LiveFyre *****/
.fyre-auth,
.fyre-editor-small,
.fyre-stream-header,
.fyre .fyre-notifier-container {
	display: none;
}

.fyre .fyre-comment {
	font-size: .8em;
}

.content .fyre .fyre-comment p {
	color: #333;
}
